# Week1_2 Python Basics 

In the last section, we went over the basic usage of Jupyter Notebook and experimmented with Python coding in Jupyter Notebook. You are encouraged to use the keyboard shortcuts described in the last class to experiment with the code on your own computer. 

This week, we will experimment with Python programming using Jupyter Notebook. We will introduce Python's basic syntax, variables, statements, loops, and functions. The purpose is to familiarize you with common Python operations. We do *not* expect you to memory the various lines of code. It is only through repetition that you will begin to internalize code syntax.

<p><a id="table"> </a></p>
<h3 id="Table-of-Contents">Table of Contents<a class="anchor-link" href="#Table-of-Contents">¶</a></h3>
<ol>
<h3>1. <a href="#variablesanddatatype">Variables and data type</a></h3>
1.1 <a href="#createvariable">Creating a variable</a><br/>
1.2 <a href="#datatypes">Data types</a><br/>
</ol>
<ol>
<h3>2. <a href="#operators">Operators</a></h3>
2.1 <a href="#arithmeticoperators">Arithmetic operators</a><br/>
2.2 <a href="#comparisonoperators">Comparison operators</a><br/>
2.3 <a href="#logicaloperators">Logical operators</a><br/>
</ol>
<ol>
<h3>3. <a href="#list">List</a></h3>
3.1 <a href="#definingalist">Defining a list</a><br/>
3.2 <a href="#listconcatenation">List concatenation</a><br/>
3.3 <a href="#subscriptindicesandslices">Subscript indices and slices (IMPORTANT)</a><br/>
</ol>
<ol>
<h3>4. <a href="#string">String</a><br/></h3>
</ol>
<ol>
<h3>5. <a href="#dictionary">Dictionary</a><br/></h3>
</ol>
<ol>
<h3>6. <a href="#ifstatement">if statement</a><br/></h3>
</ol>
<ol>
<h3>7. <a href="#loop(forstatement)">for-loop</a></h3>
7.1 <a href="#loopcontrolstatements:continueandbreak">Control statements of a loop: continue and break (Optional)</a><br/>
7.2 <a href="#thenestedloop(loopinsideanotherloop)">The nested loop (loop inside another loop)</a><br/>   
</ol>
<ol>
<h3>8. <a href="#definingfunctions)">Defining functions (Optional) </a><br/></h3> 
</ol>

<p><a id="variablesanddatatype"> </a></p>
<h2 id="1.-Variables-and-data-type">1. <a href="#table">Variables and data type</a><a class="anchor-link" href="#1.-Variables-and-data-type"></a></h2>

<p><a id="createvariable"> </a></p>
<h3 id="1.1-Creating-a-variable">1.1 <a href="#table">Creating a variable</a><a class="anchor-link" href="#1.1-Creating-a-variable"></a></h3>

- Creating a variable using "="
    - e.g., var_0=15
- Rules of variable name
    - Can be any length
    - Can consist of letters ( A Z , a z ), digits ( 0 9 ), and the underscore character ( _ )
    - CANNOT start with a digit 
    - Never name a variable using built-in function names, e.g., print, len, list <br> *built-in functions are shown in green in code cell by default*
    - Examples: 
        - **Wrong:** `9_var = 3` or `len = 5`
        - **Correct:** `var_9 = 3`

In [7]:
# 9_var1 = 100
# var1_9 = 100
# len = 4

In [7]:
a = 1000  # assign a integer 1000 to a variable called a
          # "=" is called assignment symbol

<p><a id="datatypes"></a></p>
<h3 id="1.2-Data-types">1.2 <a href="#table">Data types</a><a class="anchor-link" href="#1.2-Data-types"></a></h3>

- Numeric: integer (int), decimal number (float)
     - int: e.g., 10
     - float: e.g., 11.80353453
- String: text (str)
     - string: e.g., "Hello!"
- Boolean: True or False (bool)
     - 3==4 (False)
     - 5 in [1,3,5,7] (True)
- Collection of numerics, strings, or booleans:
   - List: e.g., [1, “hello”, True!]
   - Dictionary: e.g., {‘a’: 1, ‘b’: 2, ‘c’:3}
   - Tuple: e.g., (1 , 2, 3). can be understanded as read-only list
   - set: e.g., {1, 2, 3}

In [188]:
# define an integer
a = 10
print(a)

10

In [189]:
# check the data type: type()
type(a)

int

In [190]:
# define a string variable and check data type
str1 = "hello world!"
print(str1)

hello world!

In [192]:
# check the Boolean type data
c = 3 == 4
print(c)

False

In [193]:
# define a list with different data types
lst = [1, 2, "hello", [1,2,3] ]
print(lst)

[1, 2, 'hello', [1, 2, 3]]

In [195]:
# check if 1 is in the lst1
1 in lst

True

---
##### Python built-in functions/methods
- Python provides numerous pre-defined functions that are readily available for use. These functions, known as built-in functions, do not require any prior definition. We can directly call them as needed.   

- Built-in Functions:
    - *type( )*: check a variable type (integer, string, etc.）
    - *print( )*: Print a specified message to the screen
    - *int( )*:  convert a variable into an integer: int(var1)
    - *round()*: round to the nearest integer
    - Data type conversion: 
        - Convert a variable into an integer: int(var1)
        - Convert a variable into a string: str(var1)
        - Convert a variable into a float: float(var1)
---

In [197]:
# convert a float variable to intger, and round down the variable
a = 1.9
b = int(a)
print(b)

1

In [198]:
# Round to the nearest integer
round(a)

2

In [200]:
# convert a numeric variable to string
print(type(str(a)))
print(type(a))

<class 'str'>
<class 'float'>

<p><a id="operators"> </a></p>
<h2 id="2-Operators">2. <a href="#table">Operators</a><a class="anchor-link" href="#operators"></a></h2>
<p><a id="arithmeticoperators"> </a></p>
<h3 id="2.1-Arithmetic-operators">2.1 <a href="#table">Arithmetic operators</a><a class="anchor-link" href="#2.1-Arithmetic-operators"></a></h3>

- +, -, *, /
- %: mod, get the remainder of a division.
- //: get the integer part of a quotient. e.g., 7//3=2 
- **: power.
  - 10**3, ten to the third power $10^3$

In [201]:
# remainder of 7 divided by 2
print(7%2)

1

In [202]:
# if we want the integer part
print(7//2)

3

In [203]:
# 10 to the power of 3, pow()
10**3

1000

<p><a id="comparisonoperators"> </a></p>
<h3 id="2.2-comparison-operators">2.2 <a href="#table">Comparison operators</a><a class="anchor-link" href="#2.2-Comparison-operators"></a></h3>

- <,  >,  <=,  >=
- ==: if the values of two operands are equal, "==" returns True; otherwise, it returns False
- !=: if the values of two operands are **NOT** equal, "!=" returns True; otherwise, it returns False

In [204]:
a, b = 10, 21
print(a == b)
print(a != b)
print(a > b)

False
True
False

<p><a id="logicaloperators"> </a></p>
<h3 id="2.3-logical-operators">2.3 <a href="#table">Logical operators</a><a class="anchor-link" href="#2.3-Logical-operators"></a></h3>

- and (&）: If both the operands are true then condition becomes true.
- or (|): If any of the two operands are true then condition becomes true.
- not: Get the reversed output.

In [205]:
# and (&)
3 > 4 and 3 < 4

False

In [206]:
# or (|)
3 > 4 or 3 < 4

True

**In class exercise**:
- Judge the result:
    - (2>1) and (3>18) or (5>4)
    - not(2>1 or (3<2))

In [207]:
(2>1) and (3>18) or (5>4)

True

In [208]:
not(2>1 or (3<2))

False

<p><a id="list"> </a></p>
<h2 id="3-list">3. <a href="#table">List</a><a class="anchor-link" href="#3-List"></a></h2>

A list is created by placing all the items (elements) inside square brackets `[]`, separated by commas. It can have any number of items and they may be of different types (integer, float, string etc.).

<p><a id="definingalist"> </a></p>
<h3 id="3.1-defining-a-list">3.1 <a href="#table">Defining a list</a><a class="anchor-link" href="#3.1-Defining-a-list"></a></h3>

- two ways to define a list:
    - using `[]`. For example, `my_list = [1, "Hello", 3.4]`
    - using `list(range( ))` 
        - two functions: `list( )` and `range( )`

- range(): generate a sequence of numbers
    - start (optional): The starting number of the sequence. The default value is 0.
    - stop: The end of the sequence. This value is not included in the sequence.
    - step (optional): The difference between each number in the sequence. The default value is 1.

- len(object):
    - returns the total number of items in the object
    - *object*: a sequence (string, list, tuple, or range) or a collection (dictionary, set, or frozen set)

In [211]:
# Defining a list from 1 to 5、
# method 1: using [] 
lst1 = [1,2,3,4,5]
print(lst1)

# method 2: using list() + range(): 
lst1 = list(range(1,6))
print(lst2)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [212]:
# create a list of 1,3,5,7,9 - odd numbers
lst1 = list(range(1, 10, 2))
print(lst1)

[1, 3, 5, 7, 9]

In [213]:
# how many elements in the list? 
len(lst1)

5

<p><a id="listconcatenation"> </a></p>
<h3 id="3.2-list-concatenation">3.2 <a href="#table">List concatenation</a><a class="anchor-link" href="#3.2-List-concatenation"></a></h3>

Let’s see how to (1) concatenate (or join) two lists and (2) how to append elements to a existing list.

The most conventional method to perform the list concatenation is the use of “+” operator which easily add the whole of one list behind the other list and hence perform the concatenation.

In [214]:
# join two lists
lst1 = [1,2,3]
lst2 = ["hello", "world"]
lst1 + lst2

[1, 2, 3, 'hello', 'world']

- **my_list.append(*item*)**
    - adds an item to the end of the list
    - *item*: the item to be added at the end of the list. The item can be numbers, strings, dictionaries, another list, and so on.

In [221]:
# append an element "202406" to a list
lst3.append("202406")
print(lst3)

[1, 2, 3, 'hello', 'world', '202406', '202406', '202406', '202406']

<p><a id="subscriptindicesandslices"> </a></p>
<h3 id="3.3-Subscript-indices-and-slices-(IMPORTANT)">3.3 <a href="#table">Subscript indices and slices (IMPORTANT)</a><a class="anchor-link" href="#3.3-Subscript-indices-and-slices-(IMPORTANT)"></a></h3>

**how to select an element or a subset of elements from a list?**


- **indexing** means selecting an individual element in a sequence(list) using an index. 
    - An **index** denotes the position of an element in a sequence (list).
    - To select an element of the list, we use the index operator [ ]. e.g., **my_list[*index*]**
    - Always remember **Python index counts from 0**. See the figure in slide to understand what is an index.
- **slicing** means selecting a **subset** of elements from a sequence (list) based on indexes.
    - To select an subset of elements, we can use **my_list[*start* : *stop*]**, 
    - The arguments *start* and *stop* denote the corresponding index. 
    - Note that the *start* bound is included in the output. The *stop* bound is not included (generate numbers up to, but not including this number).

In [225]:
# indexing
lst=[15,"a",14,64,75,100,110,1000] 

#print the first element of lst 
print(lst[0])

#print the second element of lst 
print(lst[1])

#print the last element of lst 
print(lst[7])
print(lst[-1])

#print the second to last element of lst
print(lst[-2])

15
a
1000
1000
110


##### **In class exercise** 
```python
lst=[1,2,"a",3,4,5,[1,2,"hello"],10,11,100]
```
how to select the element "hello" from the following list?

In [229]:
lst=[1,2,"a",3,4,5,[1,2,"hello"],10,11,100]
lst[6][2]

'hello'

In [232]:
# slicing
lst = [15, "a", 14, 64, 75, 100, 110, 1000]

# select [14, 64, 75]
lst[2:5]

# select the last two elements
print(lst[-2: ])

[110, 1000]

---
##### built-in functions of list
- **len(*my_list*)**, **max(*my_list*)**, **min(*my_list*)**, **sum(*my_list*)**
- **my_list.index(*element*)**
    - returns the first index of the given element in the list 
- **my_list.insert(*i*, *elem*)**
    - inserts the specified element (elem) into the list at the given index (i), shifting all subsequent elements to the right.
- **my_list.sort(*reverse=True/False*)**
    - sort the list with ascending/descending order.
- There are many other useful built-in functions, such as `.pop()` and `del`. We cannot cover all of them here. When doing your homework and final project, Google the specific functions you need, and you will find the answers.

---

In [234]:
# built-in functions of list
# define a list from 1 to 10
lst1 = list(range(1, 11))
lst1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [236]:
# len(), max(), min(), sum()
print(len(lst1), max(lst1), min(lst1), sum(lst1))

10 10 1 55

In [237]:
# find the index of the element with value 1
lst1.index(1)

0

In [10]:
# insert 1000 at the position of the 1st index
lst1 = list(range(1,11))
lst1.insert(0, 1000)
lst1

[1000, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
# removing the value 1000 (note: only the first occurrence of element) using .remove(value)
lst1.remove(1000)

In [24]:
# sort the list in descending order
lst1.sort(reverse = True)
print(lst1)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

**Note**: When we say that some functions changes the variable **inplace**, it means that the method modifies the original list directly, rather than creating and returning a new list. 
- Here, the original list lst is directly modified by `.insert()`, `.remove()`, and `.insert()`. The method does not return a new list or a copy of the list; instead, it updates the original one.
- Inplace means the operation affects the original object.

<p><a id="string"> </a></p>
<h2 id="4-string">4. <a href="#table">String</a><a class="anchor-link" href="#4-String"></a></h2>

- A sequence of characters, for example, "hello world" and "Way2go". 
- Can be created with single quotes ('') or double quotes ("") -  they are used interchangeably (e.g., “a” and ‘a’ are the same). However, we cannot create a Python string without quotes. 

To get access to one character or a subset of characters of a string variable. We use **indexing and slicing**

In [253]:
st = 'abcdefg'

# indexing: select element "c"
print(st[2])

# select the last element
print(st[-1])

c
g

In [258]:
# slicing: efg
print(st[4: ])

# slicing: abc
print(st[ :3])

efg
abc

In [261]:
#  Concatenate two strings hello + world
st1 = "hello"
st2 = "world"
print(st1 + ' ' + st2 + "!")

hello world!

---
##### Built-in functions of string
   - string shares some of the functions that we have covered in the previous sessions&mdash;**str.index()** and **len(*str*)** 
   
   
   - **str.replace(*old_str*,*new_str*)**
       - replace the old substring with the new substring
       - the function returns a copy of the string, meaning that str_1.replace(*old_str*,*new_str*) does not change the value of the original string variable *str_1*. Assign the returned copy of string to a newly-defined string variable if necessary

   
   - **str.startswith(*string*)** and **str.endswith(*string*)**
        - str.startswith( )&mdash;returns True if a string starts with the specified prefix. If not, it returns False.
        - str.endswith( )&mdash;returns True if a string ends with a specified suffix, if else, it returns False
   
   
   - **str.isnumeric( )** and **str.isalpha( )** 
        - str.isnumeric()&mdash;checks whether the string consists of only numeric characters. It returns True/False
        - str.isalpha()&mdash;check if all the characters are alphabet letters (a-z)
---

In [61]:
str1 = "1231242523"

In [63]:
# .index(): The index of the value 2
str1.index("2")

1

In [ ]:
# how to return all indices for characters with value "2"?

In [64]:
str2 = "  December 30th, 2020  "

In [68]:
# str.replace(old,new): replace 2020 with 2024
# str.replace() does not change the value of the original string variable (str2)
str3 = str2.replace("2020", "2024")
print(str3)

  December 30th, 2024

Note: For a string variable, value cannot be changed in place. 
- The `str.replace()` method returns a new string with the replacement applied, but it does not modify str2 itself.

In [69]:
# remove all white spaces
str4 = str2.replace(" ", "")
print(str4)

December30th,2020

In [70]:
# integrate these steps: replace 2020 with 2024 and remove whitespaces
str_combine = str2.replace("2020", "2024").replace(" ", "")
print(str_combine)

December30th,2024

<p><a id="dictionary"> </a></p>
<h2 id="5-dictionary">5. <a href="#table">Dictionary</a><a class="anchor-link" href="#5-dictionary"></a></h2>

A dictionary in Python is an **unordered collection** of data values. Unlike other Data Types that hold only single value as an element, Dictionary can hold **key-value pair**. It is useful for mapping relationships, such as storing country names with their capitals or product names with their prices.
- Creating a dictionary is as simple as placing items inside curly brackets { } separated by commas. e.g., **dic={'a': 1, 'b':2, 'g':"hello", 'str1':"12345"}**
- An item has a key and a corresponding value that is expressed as a pair (key: value) e.g., **'a': 1, 'b':2**.
- While the **values can be of any data type and can repeat**, **keys must be unique**.

In the following demonstration, we will cover the following topics:
- defining a dictionary
- adding and changing an element (key + value) in a dictionary
- accessing elements in a dictionary. 
    - built-in functions: `dict.get(key)`, `dict.keys()`, `dict.values()`, `dict.items()`

**defining a dictionary**

In [71]:
dic = dict(New_York = ["8336817","301.5"], 
           Los_Angeles = ["3979576","468.7"], 
           Chicago = ["2693976","227.3"], 
           Houston = '2100263')
print(dic)

{'New_York': ['8336817', '301.5'], 'Los_Angeles': ['3979576', '468.7'], 'Chicago': ['2693976', '227.3'], 'Houston': '2100263'}

**adding and changing an element (key + value) in a dictionary**

In [74]:
# add an element - Phoenix: ['1,680,992','517.6']
dic["Phoenix"] = ['1,680,992','517.6']

# change an element - Houston: ['2,100,263','637.5']
dic["Houston"] = ['2,100,263','637.5']
dic

{'New_York': ['8336817', '301.5'],
 'Los_Angeles': ['3979576', '468.7'],
 'Chicago': ['2693976', '227.3'],
 'Houston': ['2,100,263', '637.5'],
 'Phoenix': ['1,680,992', '517.6']}

**Accessing elements in a dictionary**

In [75]:
# dic.get(key): get the value based on a specified key, if the key is non-existent, it returns None
dic.get("New_York")

['8336817', '301.5']

In [78]:
# dic.keys(): Get all the keys and return a dict_key object
list(dic.keys())

['New_York', 'Los_Angeles', 'Chicago', 'Houston', 'Phoenix']

In [79]:
# dic.values(): Get all the values and return a dict_value object
# convert the dict_value object to list
list(dic.values())

[['8336817', '301.5'],
 ['3979576', '468.7'],
 ['2693976', '227.3'],
 ['2,100,263', '637.5'],
 ['1,680,992', '517.6']]

**Combine two list into a dictionary**

In [80]:
lst_1 = ['New York','Los Angeles','Chicago','Houston'] 
lst_2 = [["8336817","301.5"], ["3979576","468.7"], ["2693976","227.3"], ['2,100,263','637.5']]

# zip: create dictionaries by combining a list of keys with a list of values.
# pair elements from two lists (lst_1 and lst_2) element by element
dic_combine = dict(zip(lst_1, lst_2))
print(dic_combine)

{'New York': ['8336817', '301.5'], 'Los Angeles': ['3979576', '468.7'], 'Chicago': ['2693976', '227.3'], 'Houston': ['2,100,263', '637.5']}

Note: The `zip()` function pairs elements from two lists (lst_1 and lst_2) into tuples, which are then converted into a dictionary using dict().

1. `zip(lst_1, lst_2)` pairs elements by index:
```python
[('New York', 8336817), ('Los Angeles', 3979576), ('Chicago', 2693976)]`
```
2. `dict(zip(lst_1, lst_2))` converts this into a dictionary:
```python
{"New York": 8336817,
 "Los Angeles": 3979576,
 "Chicago": 2693976
}
```

<p><a id="ifstatement"> </a></p>
<h2 id="6.-if-statement">6. <a href="#table">if statement</a><a class="anchor-link" href="#6.-if-statement"></a></h2>

The if statement is frequently used when we want to execute a part of code (or make certain decision) only if a certain condition is satisfied. 

Three common structures of if statement: 

#### 1. if statement:
    if CS:
        DM that satisfies the CS
    
- Conditional statement (CS); Decision Making (DM)
- Will execute the DM only if the CS is True; otherwise, DM will not be executed.
- **Indentation**: define the scope of for-loops, conditionals, functions, and other blocks of code. It indicates which lines of code are associated with specific statements or structures.
- An indented block of code follows the condition in an if statement. The first line that is not indented indicates the end of the code block.
- **Press TAB for an indentation, Press Shift+TAB to remove an indentation**. An indentation equals to 4 whitespace.

  
#### 2. if...else statement
    if CS1:
        DM1 that satisfies the CS1
    else: 
        DM2 that satisfies the else condition
- If the CS1 is true, DM1 block will be executed. 
- If the CS1 is False, DM2 will be executed. 
- Each DM is indicated by an indentation. 

#### 3. The if...elif...(elif)...else statement 
    if CS1:
        DM1 that satisfies the CS1
    elif CS2:
        DM2 that satisfies the CS2
    elif CS3:
        DM3 that satisfies the CS3
    else: 
        DM4 that satisfies the else condition
- You can make many "elif CS" depending on how many DMs you have. 
- in if...elif...(elif)...else statement,
    - there is only **one** `if` as the start statement.
    - there can only be **one** `else` block, and it must be at the end.
    - "else" is not mandatory.

In [81]:
# if...else: lst = list(range(0,11)), check if the lst has 10 elements
lst = list(range(0, 11))

if len(lst) == 10: 
    print("this list has 10 elements")
else:
    print("this list does not have 10 elements")

this list does not have 10 elements

<p><a id="loop(forstatement)"> </a></p>
<h2 id="7-loop-(for-statement)">7. <a href="#table">for-loop</a><a class="anchor-link" href="#7-loop-(for-statement)"></a></h2>

- A for-loop structure is used for iterating over a sequence.

##### Example 1: print out all the numbers from 10-20
   - Method 1: loop over each element in the list
   - Method 2: loop over the **index** of each element using `len()` and `range()`

In [82]:
# Method 1: loop over each element in the list
lst = list(range(10, 21))

for i in lst:
    print(i)

10
11
12
13
14
15
16
17
18
19
20

In [83]:
# Method 2: loop over the index of each element using len() and range()
lst = list(range(10,21))

for i in range(len(lst)):
    print(lst[i])

10
11
12
13
14
15
16
17
18
19
20

##### Example 2: print all the odd numbers between 10 to 20

In [85]:
# using 1. loop over value method, and 2. loop over indexes methods.
lst = list(range(10, 21))

for i in lst:
    if i % 2 == 1:
        print(i)

for i in range(len(lst)):
    if lst[i] % 2 == 1:
        print(lst[i])

11
13
15
17
19
11
13
15
17
19

##### Example 3: sum up all the numbers between 50 to 100 using for loop

In [86]:
# example 3: sum up all the numbers between 50 to 100 using for loop
a = list(range(50, 101))

s = 0

for i in a:
    s = s + i
print(s)


# loop over elements
# round 1, i = 50, sum_up = 0
# result: sum_up = 50

# round 2, i = 51, sum_up = 50
# result: sum_up = 101

# round 3: i = 52, sum_up = 101
# result: sum_up = 153

3825

<p><a id="loopcontrolstatements:continueandbreak"> </a></p>
<h3 id="7.1-Loop-control-statements:-continue-and-break (Optional)">7.1 <a href="#table">Control statements of a loop: continue and break</a><a class="anchor-link" href="#7.1-Loop-control-statements:-continue-and-break (Optional)">¶</a></h3>

- break statement 
    - it terminates the entire loop, skipping any remaining iterations, and jumps to the next code block outside the for-loop.
    - if the break statement is inside a nested loop, the break statement will terminate the innermost loop.
- continue statement
    - it skips the rest of the current iteration, and moves directly to the next iteration of the for-loop.

In [90]:
# example of break: j = 0-5, the loop ends when j == 3
j = list(range(0, 6))

for i in j:
    if i == 3:
        break
    print(i)

0
1
2

In [91]:
# example of continue: 
for i in j:
    if i == 3:
        continue
    print(i)

0
1
2
4
5

<p><a id="thenestedloop(loopinsideanotherloop)"> </a></p>
<h3 id="7.2-The-nested-loop-(loop-inside-another-loop)">7.2 <a href="#table">The nested loop (loop inside another loop)</a><a class="anchor-link" href="#7.2-The-nested-loop-(loop-inside-another-loop)">¶</a></h3>

- a nested loop with 2 levels is very common;

```python
for i in range(2):        -level 1
    for j in range(3):    -level 2
```

- using more than 2 levels is not recommended. That kind of structure will make the code very hard to read and debug.

```python
for x in range(2):          -level 1
    for y in range(3):      -level 2
        for z in range(4):  -level 3
```

In [92]:
# a simple example of nested for loop # i = 0,1; # j = 0,1,2
for i in range(2):
    for j in range(3):
        print(i, j)

0 0
0 1
0 2
1 0
1 1
1 2

<p><a id="definingfunctions"> </a></p>
<h2 id="8definingfunctions">8. <a href="#table">Defining functions</a><a class="anchor-link" href="#8definingfunctions"></a></h2>

We have introduced many built-in functions (e.g., print, len, int, etc.) and methods (.insert(), .remove()) that can be used directly. However, sometimes we also want to define a customized function to meet our specific demand. In this section, we will take two examples to briefly introduce the self-defined functions in Python.

To convert a temperature from Fahrenheit (°F) to Celsius (°C), use the following formula:

$C = \frac{5}{9} \times (F - 32)$

Where:

- $C$ is the temperature in Celsius.
- $F$ is the temperature in Fahrenheit.

In [93]:
# example 1: transform fahrenheit degree to celsius degree
def fah2cel(fahrenheit):
    celsius = (fahrenheit - 32) * 5/9
    print(celsius)
fah2cel(float(input("Enter temperature in fahrenheit: ")))

Enter temperature in fahrenheit:  42353

23511.666666666668

In [136]:
# example 2: Return the maximum of three values
def maximum(value1, value2, value3):
    """Return the maximum of three values"""
    max_value = value1
    if value2 > max_value:
        max_value = value2
    if value3 > max_value:
        max_value = value3
    return max_value

maximum(12.3, 45.6, 9.7)

45.6

### in-class exercise (due Jan 30th)

---
**(1) exercise with list** 
```python
lst = [15,"a",14,64,75,100,110,1000]
```
select a subset [15,"a", 14, 64,75, 100, 110] and named it `lst_subset`


**(2) exercise with string**
```python
str1 = 'abcdefg'
```
select a subset from str1 and named `str2`

**(3) exercise with string**

`str1 = "      PM25_20141205     "` <br>
get rid of the prefix "PM25_" and whitespace for str1, and name the new string variable str2

**(4) Use for-loop and if statement to complete the following task**

You have a list of cities with their temperatures attached:
city_temps = ["New York", 85, "Los Angeles", 75, "Chicago", 55]

Mark the temperatures greater than 80 as "Hot",
temperatures between 60 to 80 as "Warm",
and temperatures less than 60 as "Cold".

Print out the new list:
city_temps = ["New York", "Hot", "Los Angeles", "Warm", "Chicago", "Cold"]

**(5) exercise with if statement**: 

Designing a Function to Convert Weight from Pounds to Kilograms.
- weight_in_kilograms=weight_in_pounds×0.45359237